@inherits LayoutComponentBase

<div class="container">
    <div class="text-end">
        <a class="text-uppercase link-light link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="/">Back</a>
    </div>
    @Body
</div>
