@inherits LayoutComponentBase

<div class="container relative">
    <div class="absolute top-0 right-0 transition duration-300 hover:text-gray-200 hover:translate-y-1 -translate-x-3/4">
        <a class="uppercase font-bold p-1 pt-5 rounded-b bg-gray-400 text-lg" href="/">Back</a>
    </div>
    @Body
</div>
