<PageTitle>@Title</PageTitle>

<h1>@Title</h1>
<div class="grid grid-cols-@Cols gap-3 pb-4">
    @ChildContent
</div>

@code {
    [Parameter]
    public string Title { get; set; } = "";
    [Parameter, EditorRequired]
    public RenderFragment ChildContent { get; set; } = default!;
    [Parameter]
    public int Cols { get; set; } = 2;
}