<div>
    <button @attributes="AdditionalAttributes">
        @Text
    </button>
</div>

@code {
    [Parameter]
    public string Text { get; set; } = "";
    [Parameter]
    public int Col { get; set; } = 12;
    [Parameter]
    public string Color { get; set; } = "primary";

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { get; set; }
}
