@page "/"

<PageTitle>Shortcuts</PageTitle>

<div class="container">
    <h1 class="display-1 text-center">Shortcuts</h1>
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
            <ul class="nav nav-pills nav-fill flex-column">
                <li class="nav-item my-2">
                    <a class="btn btn-outline-light btn-lg py-3 text-uppercase fw-bold w-100" href="/Krita">Krita</a>
                </li>
            </ul>
        </div>
    </div>
</div>