@page "/Krita"
@rendermode InteractiveServer
@inject KritaService krita

<PageTitle>Krita Shortcuts</PageTitle>

<div class="container">
    <h1 class="display-1 text-center">Krita Shortcuts</h1>
    <div class="row justify-content-between">
        <div class="col-6 col-md p-2">
            <button @onclick="Undo" class="btn btn-danger btn-lg py-5 text-uppercase fw-bold w-100">
                Undo
            </button>
        </div>

        <div class="col-6 col-md p-2">
            <button @onclick="Redo" class="btn btn-primary btn-lg py-5 text-uppercase fw-bold w-100">
                Redo
            </button>
        </div>
        <div class="col-12 col-md p-2">
            <button @onclick="Erase" class="btn btn-info btn-lg py-5 text-uppercase fw-bold w-100">
                Erase
            </button>
        </div>
        <div class="col-12 col-md p-2">
            <button @onclick="ClearLayer" class="btn btn-warning btn-lg py-5 text-uppercase fw-bold w-100">
                Clear Layer
            </button>
        </div>
        <div class="col-12 col-md p-2">
            <button @onclick="FullScreen" class="btn btn-secondary btn-lg py-5 text-uppercase fw-bold w-100">
                Full Screen
            </button>
        </div>
    </div>
</div>

@code {

    private void Undo()
    {
        krita.Undo();
    }

    private void Redo()
    {
        krita.Redo();
    }

    private void FullScreen()
    {
        krita.FullScreen();
    }

    private void ClearLayer()
    {
        krita.ClearLayer();
    }

    private void Erase()
    {
        krita.Erase();
    }
}